<html>
<head>
    <title>Proiect Final</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                    <button type="submit">Log out</button>
                    <a class="btn" href="{% url 'cantina:lista_cantina' %}">Cantina</a>
                    <a class="btn" href="{% url 'livrari:lista_livrari' %}">Livrari</a>
                {% endif %}
            <a class="btn" href="/admin/">Admin</a>
            </form>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
