{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'livrari:adaugare_livrare' %}">Adăugare livrare</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Oraș</th>
                <th>Adresa</th>
                <th>Meniu</th>
                <th>Oră</th>
                <th>Preț</th>
                <th>Comenzi</th>
                <th>Acțiuni</th>
            </tr>
        </thead>
        <tbody>
            {% for item in livrari_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.oras }}</td>
                    <td>{{ item.adresa }}</td>
                    <td>{{ item.meniu }}</td>
                    <td>{{ item.ora }}</td>
                    <td>{{ item.pret }} RON</td>
                    <td>{% if item.active is True %}
                        Activă
                        {% else %}
                        Inactivă
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-success" href="{% url 'livrari:editeaza' item.id %}">Editează</a>
<!--                        {% if item.active is True %}-->
<!--                        <a class="btn btn-danger" href="{% url 'livrari:anuleaza' item.id %}">Anulează</a>-->
<!--                        {% else %}-->
<!--                        <a class="btn btn-warning" href="{% url 'livrari:comanda' item.id %}">Comandă</a>-->
<!--                        {% endif %}-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
